<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.gymworkout">
    <!--check network permissions-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--check wifi state-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GymWorkout">
        <activity
            android:name=".home_made_whey_protein"
            android:exported="true" />
        <activity
            android:name=".owner"
            android:exported="true" />
        <activity
            android:name=".legs_exercise"
            android:exported="true" />
        <activity
            android:name=".abs_exercise"
            android:exported="true" />
        <activity
            android:name=".shoulder_exercise"
            android:exported="true" />
        <activity
            android:name=".triceps_exercise"
            android:exported="true" />
        <activity
            android:name=".biceps_exercise"
            android:exported="true" />
        <activity
            android:name=".back_exercise"
            android:exported="true" />
        <activity
            android:name=".chest_exercise"
            android:exported="true" />
        <activity
            android:name=".info"
            android:exported="true" />
        <activity
            android:name=".muscle_booster"
            android:exported="true" />
        <activity
            android:name=".weight_gain"
            android:exported="true" />
        <activity
            android:name=".weight_loss"
            android:exported="true" />
        <activity
            android:name=".WarmUp"
            android:exported="true" />
        <activity
            android:name=".WarmUp_details"
            android:exported="true" />
        <activity
            android:name=".Tips"
            android:exported="true" />
        <activity
            android:name=".Diet"
            android:exported="true" />
        <activity android:name=".Workouts" />
        <activity android:name=".Home" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>